// FONT FAMILY

@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/bold.ttf");
  font-weight: 700;
}
// @font-face {
//   font-family: "EmojiMart";
//   src: url("/fonts/seguiemj.ttf") format("truetype");
// }

// RESPONSIVE TYPOGRAPHY

.-text-h1 {
  @apply font-gtwalsheim text-m-h1 leading-[100%] font-bold
  sm:text-t-h1 md:text-d-h1;
}
.-text-h2 {
  @apply font-gtwalsheim text-m-h2 leading-[100%] font-bold
  sm:text-t-h2 md:text-d-h2;
}
.-text-h3 {
  @apply font-gtwalsheim text-m-h3 leading-[100%] font-bold
  sm:text-t-h3 md:text-d-h3;
}
.-text-h4 {
  @apply font-gtwalsheim text-m-h4 leading-[100%] font-bold
  sm:text-t-h4 md:text-d-h4;
}
.-text-intro {
  @apply font-gtwalsheim text-m-intro leading-[120%] font-medium
  sm:text-t-intro md:text-d-intro;
}
.-text-body1 {
  @apply font-gtwalsheim text-m-body leading-[140%]
  sm:text-t-body md:text-d-body1;
}
.-text-body2 {
  @apply font-gtwalsheim text-m-body leading-[140%]
  sm:text-t-body md:text-d-body2;
}
.-text-cap {
  @apply font-gtwalsheim text-m-cap leading-[100%]
  sm:text-t-cap md:text-d-cap;
}
.-text-sm {
  @apply font-gtwalsheim text-m-sm leading-[100%]
  sm:text-t-sm md:text-d-sm;
}
