@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base-styles/typography";
@import "./base-styles/base";

em-emoji-picker {
  --border-radius: 12px;
  --category-icon-size: 16px;
  --color-border: #f7f7f7;
  --font-family: "GTWalsheimPro", sans-serif;
  --font-size: 16px;
  --rgb-accent: 138, 143, 153;
  --rgb-background: 255, 255, 255;
  --rgb-color: 138, 143, 153;
  --rgb-input: 247, 247, 247;
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  height: 40vh;
  min-height: 400px;
  max-height: 800px;
}
