@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");

body {
  @apply font-urbanist bg-background1 text-text2;
}

svg {
  @apply fill-current text-text2;
}

.icon_btn {
  @apply grid w-11 rounded-2xl;
}

.icon_btn svg.size_5,
.icon svg.size_5 {
  @apply h-5 w-5;
}
.icon svg.size_4 {
  @apply h-[18px] w-[18px];
}

button {
  @apply font-urbanist text-text2 font-medium text-base
  flex justify-center items-center
  px-5 h-11 rounded-[18px] cursor-pointer
  hover:bg-background3 active:bg-border;
}

.h1 {
  @apply text-[48.83px] leading-[100%] font-gilroy text-text1;
}

.h2 {
  @apply text-[39.1px] leading-[100%] font-gilroy text-text1;
}

.h3 {
  @apply text-[31.3px] leading-[100%] font-gilroy text-text1;
}

.h4 {
  @apply text-[25px] leading-[100%] font-gilroy text-text1;
}

.auth__form__input {
  @apply h-12 rounded-[14px] border-2 border-solid border-border 
  focus:border-light-primary focus:outline-none px-3;
}

em-emoji-picker {
  --border-radius: 12px;
  --category-icon-size: 16px;
  --color-border: #f7f7f7;
  --font-family: "Urbanist", sans-serif;
  --font-size: 16px;
  --rgb-accent: 138, 143, 153;
  --rgb-background: 255, 255, 255;
  --rgb-color: 138, 143, 153;
  --rgb-input: 247, 247, 247;
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  height: 40vh;
  min-height: 400px;
  max-height: 800px;
}
